---
interface Props {
    title: string;
}
import { Font } from "astro:assets";
const { title } = Astro.props;

let description =
    "i'm arti, an eepy virtual catgirl/foxgirl/doggirl thing. i also go by the usernames artifish(vr) and artificialvr!";
---

<!doctype html>
<html lang="en">
    <head>
        <Font cssVariable="--font-archivo" preload />
        <meta charset="UTF-8" />
        <meta name="darkreader-lock" />

        <meta
            property="og:description"
            content="Free Enterprise Resource Planning tools and resources for VRChat communities and creators"
        />
        <meta property="og:site_name" content="VRC-ERP Hub" />
        <meta
            property="og:title"
            content="VRC-ERP Hub - Free Enterprise Resource Planning for VRChat"
        />
        <meta property="og:type" content="website" />
        <meta
            name="description"
            content="Free Enterprise Resource Planning tools and resources for VRChat communities and creators"
        />
        <meta name="author" content="VRC-ERP Team" />
        <meta
            name="keywords"
            content="VRChat, ERP, Enterprise Resource Planning, virtual communities, VR management, resource tracking, event planning, community management, avatar creators, world builders"
        />
        <meta name="theme-color" content="#4B2E83" data-react-helmet="true" />

        <meta
            name="twitter:description"
            content="Free Enterprise Resource Planning tools and resources for VRChat communities and creators"
        />
        <meta
            name="twitter:title"
            content="VRC-ERP Hub - Free Enterprise Resource Planning for VRChat"
        />
        <meta name="twitter:creator" content="@VRC_ERP_Hub" />
        <meta name="twitter:site" content="VRC-ERP Hub" />

        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <title>{title}</title>
    </head>
    <body class="bg-purple-950 text-zinc-950">
        <slot />
    </body>
</html>

<style>
    @import "tailwindcss";

    body {
        font-family: var(--font-archivo);
    }
</style>

<script
    is:inline
    defer
    data-domain="erping.ca"
    src="https://a.arti.lol/js/script.file-downloads.outbound-links.js"
></script>
